@font-face {
    font-family: "AlexBrush";
    src: url("./AlexBrush-Regular.ttf");
}

* {
    margin: 0px;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background: #cfd8dc;
}

header {
    margin-bottom: 25px;
}

footer {
    padding: 25px 0;
}

.card {
    padding: 10px 10px;
    background-color: #cfd8dc;
    box-shadow: 2px 2px 5px black;
}

.card .info {
    font-family: "AlexBrush";
}

.scroll-container {
    height: calc(100% - 275px) ;
    margin: 0 auto;
    min-height: 100px;
    overflow-y: auto;
}

.scroll-container > .gradeWeightPair {
    margin: 10px 0;
}

.content {
    background-color: #008ba2;
    box-sizing: border-box;
    height: 100vh;
    min-height: 425px;
    padding: 10px 60px 25px;
    text-align: center;
}

h1 {
    margin: 0 !important;
    font-family: "AlexBrush";
}

@media screen and (max-width: 560px) {
    
    .content {
        padding: 10px 25px 25px;
    }

    h1 {
        font-size: 2em !important;
    }
    .scroll-container input {
        width: 120px;
    }
}
@media screen and (min-width: 560px) and (max-width: 750px) {

    .scroll-container input {
        width: 150px;
    }

    h1 {
        font-size: 3em !important;
        margin: 0 !important;
    }
    .content {
        padding: 10 100px 50px;
    }
}
@media screen and (min-width: 750px) {
    h1 {
        font-size: 3em !important;
        margin: 0 !important;
    }
    .content {
        box-shadow: 2px 2px 5px black;
        height: calc(100% - 60px);
        margin: 30px auto;
        padding: 10 100px 50px;
        width: 700px;
    }
.scroll-container input {
    width: 180px;
}
    
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.scroll-container input {
    margin: 0 5px;
}

input {
    background: #69f0ae;
    border: 1px solid grey;
    height: 42px;
    line-height: 1.65;
    text-align: center;
}

input:focus {
  outline: 0;
}
input:focus::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
}

button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #69f0ae;
    border: none;
    box-shadow: 2px 2px 5px black;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "AlexBrush" !important;
    font-size: 1rem;
    line-height: 1;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

button:hover,
button:focus {
    background: lightgrey;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
